#Dos{
    color: blue;
    background-color: aqua;
    height: 50px;
}
#Uno{
    color: rgb(21, 5, 36);
    background-color: rgb(151, 23, 23)
    
}
button{
    color: blue;
    height: 100%;
    background-color: black;

}
P{
    margin: 10px 50px 25px 15px;

}
body{
    background-color: coral;
}